body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: aliceblue;
}

/* .container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

#addbtn {
  /* display: inline-block; */
  background-color: blue;
  color: aliceblue;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#addbtn:hover {
  background-color: darkblue;
}

.header-design {
  background-color: midnightblue;
  color: aliceblue;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

.input-text {
  flex: 1;
  padding: 10px;
  height: 20px;
  border-radius: 8px;
  border-color: aqua;
}

main {
  flex: 1;
  padding: 10px 30px;
  max-width: 800px;
  margin: 0 auto;
}

.input-section {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

.text-label {
  flex: 1;
}

h2 {
  display: flex;
  justify-content: center;
}

label {
  color: cadetblue;
  font-size: large;
}

.flex {
  display: flex;
  align-items: center;
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-item {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 0px;
  background-color: white;
  border: 2px solid skyblue;
  border-radius: 10px;
}

.task-action {
  /* display: flex; */
  gap: 5px;
}

.btn-complete {
  color: white;
  background-color: rgb(38, 155, 38);
  border: none;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  transition: background-color 1s;
}

.btn-complete:hover {
  background-color: green;
}

.btn-delete {
  color: white;
  background-color: crimson;
  border: none;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  transition: background-color 1s;
}

.btn-delete:hover {
  background-color: brown;
}

footer {
  display: flex;
  background-color: rgb(167, 191, 210);
  justify-content: center;
  padding: 1px;
  margin-top: 10px;
}
